.identity {
  &_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    &_img,
    &_uploadBack,
    &_uploadFace {
      width: 219px;
      height: 129px;
      margin: 10px 0 14px 0;
      border-radius: 13px !important;
    }
    &_uploadBack {
      background: url('@/assets/image/admin/back.png') no-repeat 100% 100%;
      background-size: cover;
    }
    &_uploadFace {
      background: url('@/assets/image/admin/face.png') no-repeat 100% 100%;
      background-size: cover;
    }
  }
}
