:root {
  --border: 1px solid #ebebeb;
  --themeColor: #f77a2a;
  --headerHeight: 79px;
  --adminTheme: #3464e0;
  --width: 1198px;
  --app-scale: 1;
  --admin-home-zoom: 1;
  //--pingFangMedium: pingfangsc-medium, sans-serif; //苹方-简 中黑体
  //--pingFangRegular: pingfangsc-regular, sans-serif; //苹方-简 常规体
  //--pingFangUltralight: PingFangSC-Ultralight, sans-serif; //苹方-简 极细体
  //--pingFangLight: PingFangSC-Light, sans-serif; //苹方-简 细体
  //--pingFangThin: PingFangSC-Thin, sans-serif; //苹方-简 纤细体
  //--pingFangSemibold: PingFangSC-Semibold, sans-serif; //苹方-简 中粗体
}

@font-face {
  font-family: 'HuangYingQiZhaoPaiTi';
  src: url('@/assets/font/HuangYingQiZhaoPaiTi.ttf') format('truetype');
}
@font-face {
  font-family: 'SYBold';
  src: url('@/assets/font/SYBold.otf') format('opentype');
}
@font-face {
  font-family: 'SYMedium';
  src: url('@/assets/font/SYMedium.otf') format('truetype');
}
@font-face {
  font-family: 'SYRegular';
  src: url('@/assets/font/SYRegular.otf') format('truetype');
}

html {
  font-size: 6.25%;
}

body {
  overflow-x: auto !important;
  position: relative;
  width: 100vw;
  min-width: 1200px;
  background-color: #f4f5f9;
  height: 100vh;
  overflow-y: auto;
  cursor: default;

  /* 允许用户手势缩放 */
  -webkit-text-size-adjust: 100%;
  /* 禁止用户选择文本 */
  -webkit-user-select: none;
  /* 禁止用户长按链接 */
  -webkit-touch-callout: none;
}
#root {
  position: relative !important;
}
//解决icon无法使用color修改颜色问题
svg {
  fill: currentColor;
}

*,
p {
  padding: 0;
  margin: 0;
  scroll-behavior: initial;
}
ul {
  list-style: none;
}

.webContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  //width: 1198px;
  //min-height: 100vh;
  font-family: SYRegular, sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100vh;
  overflow: auto;
  color: #333;
  font-size: 14px;
  > div {
    width: var(--width);
  }
}
@media screen and (max-width: 1100px) {
  body {
    transform: scale(var(--app-scale));
    transform-origin: left top;
    //zoom: var(--app-scale);
    height: calc(100vh / var(--app-scale));
  }
  .webContainer {
    height: calc(100vh / var(--app-scale));
  }
  //.ant-picker-dropdown {
  //  transform: scale(var(--app-scale));
  //  transform-origin: left top;
  //}
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.iconpark-icon {
  width: 15px;
  height: 15px;
  font-weight: bold;
  user-select: none;
}

.spinLoading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh;
  padding-top: 100px;
  box-sizing: border-box;
  z-index: 99999;
  background: none;
  //background-color: rgba(255, 255, 255, 50%);
}

// 作者后台ant组件缩放
.ant-picker-dropdown,
.ant-popover,
.ant-select-dropdown,
//.ant-modal,
.ant-pagination {
  transform: scale(var(--admin-home-zoom)) !important;
  transform-origin: left top;
}
