.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--headerHeight);
  font-size: 16px;
  &_logo {
    width: 164px;
    //height: 43px;
  }
  &_item {
    display: flex;
    align-items: center;
    .option {
      display: inline-block;
      width: 86px;
      height: 100%;
      line-height: var(--headerHeight);
      text-align: center;
      cursor: pointer;
    }
    .selectOption {
      background-color: #f9573e;
      color: #ffffff;
    }
  }

  &_user {
    position: relative;
    display: flex;
    align-items: center;
    img {
      margin-left: 23px;
      width: 26px;
      height: 26px;
      border-radius: 26px;
    }
    &_vipIcon {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 14px !important;
      height: 14px !important;
    }
    .ant-popover-content,
    .ant-popover-inner-content {
      width: 367px;
      height: 191px;
      background: #ffffff;
      box-shadow: 0 0 27px 11px #afafaf;
      border-radius: 12px;
      overflow: hidden;
      padding: 0;
      .header_card {
        width: 100%;
        height: 100%;
        &_top {
          width: 100%;
          height: 125px;
          padding: 7px 13px;
          background: url('@/assets/image/home/personalBanner.png') no-repeat
            100%;
          background-size: cover;
          &_title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
              width: 38px;
              height: 38px;
              border-radius: 38px;
              margin-left: 0;
              margin-right: 12px;
            }
            &_vipLogo {
              width: 18px !important;
              height: 18px !important;
              margin-left: 6px !important;
            }
          }
          &_vipPay {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 13px;
            width: 100%;
            height: 60px;
            margin-top: 6px;
            background: url('@/assets/image/home/vipBanner.png') no-repeat 100%;
            background-size: contain;
            color: #814536;
            &_info {
              display: flex;
              flex-direction: column;
              img {
                width: 93px !important;
                height: 24px !important;
                margin-left: 0 !important;
                margin-bottom: 7px;
                border-radius: 0 !important;
              }
            }
            &_btn {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 94px;
              height: 28px;
              border: 1px solid rgba(235, 197, 158, 0.97);
              background-color: #fddcb5;
              border-radius: 28px;
              font-size: 14px;
              cursor: pointer;
            }
          }
        }
        &_footer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 11px;
          &_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            color: #333333;
            cursor: pointer;
          }
        }
      }
    }
  }

  &_model {
    .ant-modal-body {
      padding: 0 !important;
      margin: 0 !important;
    }
    .ant-modal-footer {
      display: none;
    }
  }
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--headerHeight);
  background-color: #ffffff;
  z-index: -1;
  border-bottom: var(--border);
}
.header::after {
  content: '';
  position: absolute;
  top: var(--headerHeight);
  left: 0;
  right: 0;
  height: 20px;
  background-color: #f4f5f9;
  z-index: -1;
}

//搜索框
.searchInput {
  width: 180px;
  height: 26px;
  border-radius: 20px;
  margin: 0 23px;
  border-color: var(--themeColor);
  font-size: 10px;
}
.searchInput:hover {
  border-color: var(--themeColor) !important;
}
.ant-input-affix-wrapper-focused {
  box-shadow: none !important;
}
