.readEditor {
  position: relative;
  height: calc(100vh - 48px);
  width: calc(100vw - 48px);
  margin-top: 14px;
  &_wordNum {
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2;
  }

  .tox {
    height: 100% !important;
    .tox-statusbar {
      display: none !important;
    }
  }
}
