.my_tab_bar {
  display: flex;
  align-items: center;
  width: 100%;
  user-select: none;
}
.tab_list {
  margin-right: 26px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
.tab_list_select {
  color: #e85d01;
}
