//  table start
.art-table {
  font-size: 16px !important;
  text-align: center !important;
  .art-table-header {
    border-radius: 10px;
  }
  .art-table-header-row {
    height: 68px !important;
    .art-table-header-cell {
      text-align: center;
      font-size: 18px;
      border: none;
      background: #3464e0 !important;
      color: white;
    }
  }
}
.dzrzZB td {
  border-left: none !important;
  border-right: none !important;
  height: 77px !important;
}
//  table end
