.sectionList {
  width: 100%;
  height: calc(100% - 66px);
  font-size: 20px;
  color: var(--adminTheme);
  &_header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 72px;
    cursor: pointer;
  }
  &_button {
    width: 80px;
    height: 28px;
    background: var(--adminTheme);
    border-radius: 10px;
    border: none;
    outline: none;
    line-height: 28px;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  &_button:active {
    box-shadow: 0 0 5px 2px rgba(#3464e0, 0.2);
  }
}
