.loginIndex {
  display: flex;
  width: 100%;
  height: 459px;
  padding: 24px 0;
  box-sizing: border-box;
  &_scan {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    height: 100%;
    padding: 0 63px 0 41px;
    border-right: 2px solid #ededed;
    box-sizing: border-box;
    font-size: 14px;

    &_code {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 162px;
      height: 162px;
      border: 1px solid #cccccc;
      border-radius: 6px;
      padding: 4px;
      box-sizing: border-box;
      margin: 27px 0 20px 0;
    }

    & p:last-child {
      position: absolute;
      bottom: 18px;
      color: var(--themeColor);
    }
  }
  &_box {
    position: relative;
    width: 430px;
    padding: 0 56px;
    box-sizing: border-box;
    //padding: 0 33px 0 63px;
    &_tip {
      margin-top: 21px;
      font-size: 13px;
      & span:last-child {
        color: var(--themeColor);
        cursor: pointer;
        user-select: none;
      }
    }
    &_clause {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 13px;
      & span:last-child {
        color: var(--themeColor);
        cursor: pointer;
        user-select: none;
      }
    }
  }
}

.login,
.register {
  align-items: center;
  margin-top: 47px;
  width: 100%;
  &_slider {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 219px;
    height: 40px;
    background: #f4f7fb;
    border-radius: 6px;
    padding: 4px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 600;
    color: #a0a2a3;
    span {
      display: inline-block;
      width: 96px;
      text-align: center;
      position: relative;
      z-index: 2;
      cursor: pointer;
    }
    i {
      position: absolute;
      left: 8.75px;
      transform: translateX(0);
      transition: 0.3s all;
      width: 96px;
      height: 32px;
      background: #ffffff;
      border-radius: 6px;
    }
  }
  &_form {
    margin-top: 8px;
    &_input {
      width: 319px;
      height: 44px;
      border: 1px solid #dfdfdf;
      border-radius: 4px;
    }
    &_sendCode {
      margin-top: -10px;
      &_input {
        flex: 1;
        height: 44px;
        width: 144px;
        margin-right: 9px;
      }
      &_btn,
      &_btn:hover,
      .ant-btn:focus {
        width: 104px;
        height: 43px;
        background: var(--themeColor);
        border-radius: 4px;
        color: white;
        border: none;
      }
    }
    &_btn {
      width: 318px;
      height: 45px;
      background: var(--themeColor) !important;
      border-radius: 4px;
      border: none;
      box-shadow: 0 2px 0 var(--themeColor, 50%);
      font-size: 16px;
      font-weight: bolder;
    }
  }
}

.register {
  width: 100%;
  margin-top: 68px;
  &_passwordInput {
    margin-top: -10px;
  }
  &_backBtn {
    width: 108px;
    height: 47px;
    background: #ffffff;
    border-radius: 4px;
  }
  &_loginBtn {
    width: 198px;
  }
}
